<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">
	
	
<!-- about-us10:57-->
<head>
		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Furnitica - Minimalist Furniture HTML Template</title>
		
		<meta name="keywords" content="Furniture, Decor, Interior">
		<meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
		<meta name="author" content="tivatheme">
		
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css">
		<link rel="stylesheet" href="libs/nivo-slider/css/animate.css">
		<link rel="stylesheet" href="libs/nivo-slider/css/style.css">
		<link rel="stylesheet" href="libs/font-material/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="libs/slider-range/css/jslider.css">
		<link rel="stylesheet" href="libs/owl-carousel/assets/owl.carousel.min.css">
		
		<!-- Template CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/reponsive.css">
	</head>
	
	<body id="about-us" class="blog">
		<header>
			
			<div th:insert="home.html :: header"> </div>
		</header>
		
		<!-- main content -->
		<div class="main-content">
			<div id="wrapper-site">
				<div id="content-wrapper">
					
					<!-- breadcrumb -->
					<nav class="breadcrumb-bg">
						<div class="container no-index">
							<div class="breadcrumb">
								<ol>
									<li>
										<a href="#">
											<span>Home</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>About us</span>
										</a>
									</li>
								</ol>
							</div>
						</div>
					</nav>
					<div id="main">
						<div class="page-home">
							<div class="container">
								<div class="about-us-content">
									
									<h1 class="title-page">About Us</h1>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 right">
											<a href="#">
												<img class="img-fluid" src="img/other/1.jpg" alt="#" />
											</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 left">
											<div class="cms-block f-right">
												<h3 class="page-subheading">WHO WE ARE</h3>
												<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
													dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
													sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
												amet nibh vultate cursus a sit amet mauris.</p>
												<p>Proin gravida nibh vel velit auctor aliquet. nec sagittis sem nibh id elit. Duis
													sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
												amet nibh vultate cursus a sit amet mauris.</p>
												<a>
													<img class="img-fluid" src="img/other/4.png" alt="#" />
													<span>Mr. kwang shang - CEO</span>
												</a>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 right">
											<div class="cms-block f-left">
												<h3 class="page-subheading">WHAT WE DO</h3>
												<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
													dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
													sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
												amet nibh vultate cursus a sit amet mauris.</p>
												<p>Proin gravida nibh vel velit auctor aliquet, nec sagittis sem nibh id elit. Duis
													sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
												amet nibh vultate cursus a sit amet mauris.</p>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 left">
											<a href="#">
												<img class="img-fluid" src="img/other/2.jpg" alt="#" />
											</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 right">
											<a href="#">
												<img class="img-fluid" src="img/other/3.jpg" alt="#" />
											</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 left">
											<div class="cms-block f-right">
												<h3 class="page-subheading no-before">MEET OUR TEAM</h3>
												<div class="testimonials owl-carousel owl-theme owl-loaded owl-drag">
													<div class="item">
														<div class="name">William James</div>
														<div class="position">Designer - Stylish</div>
														<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
															quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
															nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
															mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
															lorem quis bibendum auctor, nisi elit conse quat ipsum
														</p>
													</div>
													<div class="item">
														<div class="name">Seller Smith</div>
														<div class="position">Web developer</div>
														<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
															quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
															nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
															mauris.
														</p>
													</div>
													<div class="item">
														<div class="name">Peter Capidal</div>
														<div class="position">Front-end Developer</div>
														<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
															quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
															nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
															mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
															lorem quis bibendum auctor, nisi elit conse quat ipsum
														</p>
													</div>
													<div class="item">
														<div class="name">David James</div>
														<div class="position">Developer</div>
														<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
															quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
															nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
															mauris.Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
															lorem quis bibendum auctor, nisi elit conse quat ipsum
														</p>
													</div>
												</div>
												<div class="social-content">
													<div class="social">
														<ul class="list-inline mb-0 justify-content-end">
															<li class="list-inline-item mb-0">
																<a href="#" target="_blank">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li class="list-inline-item mb-0">
																<a href="#" target="_blank">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li class="list-inline-item mb-0">
																<a href="#" target="_blank">
																	<i class="fa fa-google"></i>
																</a>
															</li>
															<li class="list-inline-item mb-0">
																<a href="#" target="_blank">
																	<i class="fa fa-instagram"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->

		
		<!-- back top top -->
		<div class="back-to-top">
			<a href="#">
				<i class="fa fa-long-arrow-up"></i>
			</a>
		</div>

															 <div th:insert="home.html :: header-mobile"> </div>
															<!-- Page Loader -->
															<div id="page-preloader">
															<div class="page-loading">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															</div>
															</div>
															
															<!-- Vendor JS -->
															<script src="libs/jquery/jquery.min.js"></script>
															<script src="libs/popper/popper.min.js"></script>
															<script src="libs/bootstrap/js/bootstrap.min.js"></script>
															<script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
															<script src="libs/owl-carousel/owl.carousel.min.js"></script>
															<script src="libs/slider-range/js/tmpl.js"></script>
															<script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
															<script src="libs/slider-range/js/draggable-0.1.js"></script>
															<script src="libs/slider-range/js/jquery.slider.js"></script>
															
															<!-- Template JS -->
															<script src="js/theme.js"></script>
															</body>
															
															
<!-- about-us11:09-->
</html>															